/* primeiras propriedades: Lembrando que o asterisco pega o site todo*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
}


body{
  font-family: 'Roboto', sans-serif ; /*'Roboto', sans-serif*/
  margin: 0;
}

li {
  /* retirando as bolinhas das nossas listas */
  list-style: none;
}

.header-menu{
  
  display: flex;
  position: fixed; /*Deixa o nosso header fixo*/
  width: 100%; /*Largura*/
  padding: 8px; /*Espaçamento dos 4 lados*/
  padding-bottom: 32px; /*Espaçamento inferior*/
  padding-top: 32px;/*Espaçamento superior*/
  height: 80px; /*Altura*/
  background-color: #cad186; 
}

.header-menu nav {
  display: flex; 
  justify-content: flex-end; /*Colocando no lado direito da pagina*/
  width: 100%; /*Largura*/
}

.lista-menu{
  display: flex;
  justify-content: space-evenly; 
  width: 50%; 
  align-items: center; /*Posicionando no centro*/
}

.lista-menu li>a {
  color: rgb(16, 187, 53); /*#FFF*/
  font-size: 18px;
  text-decoration: inherit;
}

.principal{
  height: 25vh;
  display: flex;
  background-color: #ffffff;/*rgb(109, 180, 109);*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin-right: auto; /*uma margem automática para todos os lados  */
  margin-left: auto;
  margin-top: 75px; /*Margem para cima*/
  max-width: 960px; /*largura maxima*/
  padding-right: 10px; /* Espaçamento direito*/
  padding-left: 10px; /*Espaçamento esquerdo*/
  width: 100%; 
}

.subcontainer-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-cardapio {
  font-size: 36px;
  color: rgb(12, 202, 12) /*rgb(16, 150, 16) */;
  font-weight: 700; 
  height: 45px;
  
}

.menu-item {
  background-color: rgb(214, 204, 168);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
}

.article-lista{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;

}

.topico-principal{
  font-size:36px;
  color: #ff9100  ; /* rgb(15, 112, 15); #023d0c*/
}



.rodape{
  background-color: rgba(171, 216, 67, 0.664); /*darkgreen;*/
  height: 30vh;
  display: flex;
  align-items: center;
}

 .botao{
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: rgb(253, 29, 13);
  }

